absl-py==0.2.2
alabaster==0.7.10
alembic==0.9.5
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
appdirs==1.4.0
appnope==0.1.0
appscript==1.0.1
arrow==0.12.1
asn1crypto==0.24.0
astor==0.7.1
astroid==1.6.1
astropy==2.0.3
atpublic==1.0
attrs==17.4.0
autograd==1.2
autopep8==1.3.5
Babel==2.1.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.3
beautifulsoup4==4.6.0
binaryornot==0.4.4
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==1.5.0
blinker==1.4
bokeh==0.12.13
boto==2.48.0
boto3==1.7.64
botocore==1.10.64
Bottleneck==1.2.1
bs4==0.0.1
certifi==2018.1.18
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
cmake==3.12.0
colorama==0.3.9
conda==4.4.10
conda-build==3.4.1
conda-verify==2.0.0
config==0.3.9
contextlib2==0.5.5
cookiecutter==1.6.0
coverage==4.4.1
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
Cython==0.27.3
cytoolz==0.9.0
dask==0.18.2
datashape==0.5.4
decorator==4.0.11
distributed==1.22.0
Django==1.10.5
dnspython==1.15.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
eventlet==0.24.1
face-recognition-models==0.3.0
fake-useragent==0.1.10
fastcache==1.0.2
featuretools==0.2.1
filelock==2.0.13
Flask==1.0.2
Flask-Babel==0.9
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.6.2
Flask-WTF==0.14.2
ForgeryPy==0.1
future==0.16.0
gast==0.2.0
gevent==1.2.2
glob2==0.6
gmpy2==2.0.8
greenlet==0.4.12
grpcio==1.13.0
gunicorn==19.9.0
gym==0.10.5
h5py==2.7.1
heapdict==1.0.0
homebrew==0.0.20
html5lib==0.9999999
hupper==1.6.1
idna==2.6
imageio==2.2.0
imagesize==0.7.1
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.12.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.5
jupyterlab-launcher==0.10.2
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
lazy-object-proxy==1.3.1
lightgbm==2.1.2
llvmlite==0.21.0
locket==0.2.0
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
monotonic==1.5
mpmath==1.0.0
mpyq==0.2.5
msgpack==0.5.6
msgpack-python==0.5.1
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.6
networkx==2.1
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
numba==0.36.2
numexpr==2.6.4
numpy==1.14.0
numpydoc==0.7.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.45.1
opencv-python==3.4.1.15
openpyxl==2.4.10
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parse==1.8.4
parso==0.1.1
partd==0.3.8
PasteDeploy==2.0.1
path.py==10.5
pathlib2==2.3.0
patsy==0.5.0
pbr==4.2.0
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pipenv==2018.7.1
pkginfo==1.4.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.6.0
ply==3.10
portpicker==1.2.0
poyo==0.4.2
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.4.3
psycopg2==2.7.3
ptyprocess==0.5.2
py==1.5.2
PyAutoGUI==0.9.42
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pyee==5.0.0
pyflakes==1.6.0
pygame==1.9.4
PyGetWindow==0.0.4
pyglet==1.3.2
Pygments==2.2.0
PyJWT==1.5.2
pylint==1.8.2
Pympler==0.5
PyMsgBox==1.0.6
pyodbc==4.0.22
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyppeteer==0.0.19
PyPrind==2.11.2
pyquery==1.4.0
pyramid==1.10.4
PyRect==0.1.4
PySC2==2.0.1
PyScreeze==0.1.20
PySocks==1.6.7
pytest==3.3.2
python-dateutil==2.6.1
python-editor==1.0.3
PyTweening==1.0.3
pytz==2015.6
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.18.4
requests-html==0.9.0
requests-oauthlib==1.0.0
rope==0.10.7
ruamel-yaml==0.15.35
s2clientprotocol==4.4.0.65895.0
s3fs==0.1.5
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
Send2Trash==1.4.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sk-video==1.1.10
snowballstemmer==1.2.1
socketio==0.1.3
sortedcollections==0.5.3
sortedcontainers==1.5.9
speaklater==1.3
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
SQLAlchemy==1.1.13
statsmodels==0.8.0
stevedore==1.29.0
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==1.1.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.1
textblob-fr==0.2.0
tflearn==0.3.2
Theano==1.0.2
toolz==0.9.0
torch==0.4.1
tornado==4.5.3
tqdm==4.23.4
traitlets==4.3.2
translationstring==1.3
tweepy==3.6.0
twython==3.7.0
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.22
venusian==1.2.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
w3lib==1.19.0
wcwidth==0.1.7
web.py==0.40.dev1
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.48.0
websockets==6.0
Werkzeug==0.14.1
wget==3.2
whichcraft==0.4.1
widgetsnbextension==3.1.0
world==4.0
wrapt==1.10.11
WTForms==2.0.2
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.2.0
zict==0.1.3
zope.deprecation==4.4.0
zope.interface==4.6.0
