<!DOCTYPE html>
<html>
    <body>
    <form method="post" action="{{ url_for('divide_result') }}">
        <label for="number">Methane Mol%:</label>
        <input type="text" name="number" id="number">
        
        <label for="number">Ethane Mol%:</label>
        <input type="text" name="number" id="number">
        
        <label for="number">Propane Mol%:</label>
        <input type="text" name="number" id="number">
        
        <label for="number">Butane Mol%:</label>
        <input type="text" name="number" id="number">

        <label for="divide_by">Height:</label>
        <input type="text" name="divide_by" id="divide_by">

        <input type="submit" value="Calculate"/>
    </form>
    /Users/samuelodewale/gpmpython
    </body>
</html>
