<!DOCTYPE html>
<html>
    <body>
    <form method="post" action="{{ url_for('divide_result') }}">
    
    <center>
        <label for="methane">Methane Mol%:</label>
        <input type="text" name="methane" id="methane">
        




        <input type="submit" value="Calculate"/>
       </center>
    </form>
    /Users/samuelodewale/gpmpython
    </body>
</html>
